.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*

flake.nix
flake.lock
.envrc
.env.local
.devenv
.direnv
treefmt.toml
biome.json
.pre-commit-config.yaml