name: Format Code

on: [push, pull_request]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: DeterminateSystems/nix-installer-action@v21
    - uses: DeterminateSystems/magic-nix-cache-action@v13
      with:
        use-flakehub: false
        use-gha-cache: true
    - name: Load devShell env into job
      shell: bash
      run: |
        eval "$(nix print-dev-env --no-pure-eval --accept-flake-config .#ci)"
        echo "PATH=$PATH" >> "$GITHUB_ENV"
    - name: Run treefmt
      uses: isbecker/treefmt-action@v2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        version: system
        ci: true
