name: Run VSCode Extension Tests

on:
- push
- pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup Node.js environment
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm install

    - name: Compile
      run: npm run compile

    - name: Run tests
      run: xvfb-run -a npm test
      if: runner.os == 'Linux'

    - name: Run tests
      run: npm test
      if: runner.os != 'Linux'
